@use '../functions' as *;
@use '../variables' as *;
@use '../mixins' as *;

.document-info {
	$p: &;
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: vc(60);
    padding: vc(30);
    background-color: $color-white;
    border-left: 1px solid $color-border;

    &__image {
        width: 100%;
        object-fit: cover;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__content-title {
        font-size: vc(16);
        font-weight: 600;
        line-height: 1.4;
        color: $color-text;
        margin-bottom: vc(17);
    }

    &__content-buttons {
        display: flex;
        gap: vc(17);
        margin-bottom: vc(47);
    }

    &__content-description {
        display: flex;
        flex-direction: column;
        gap: vc(14);
    }

    &__content-description-title {
        font-size: vc(16);
        font-weight: 600;
        line-height: 1.4;
        color: $color-text;
    }

    &__content-description-text {
        font-size: vc(14);
        font-weight: 400;
        line-height: 1.4;
        color: $color-text-secondary;
    }
}