@use '../functions' as *;
@use '../variables' as *;
@use '../mixins' as *;

.list-item {
	$p: &;
    display: grid;
    grid-template-columns: 30% 70%;
    box-shadow: 0px 0px 10px 0px #0000001A;
    border-radius: 10px;
	overflow: hidden;
	transition: scale $duration-normal $easing-in-out;
	height: vc(70);
	width: 100%;

	&:hover {
		cursor: pointer;
		scale: 1.04;
		transition: scale $duration-normal $easing-in-out;
	}

	&__img {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: vc(6);
		padding: vc(15);
	}

	&__content-title {
		font-size: vc(14);
		font-weight: 600;
		line-height: 1.4;
		color: $color-text;
	}

	&__content-size {
		font-size: vc(12);
		font-weight: 400;
		line-height: 1.4;
		color: $color-text-secondary;
	}
}