@use '../functions' as *;
@use '../variables' as *;
@use '../mixins' as *;

.home {
	$p: &;
	
	width: 100%;
	min-height: 100vh;
	padding: vc(50);
	display: flex;
	flex-direction: column;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: vc(35);
	}

	&__header-title {
		font-size: vc(32);
		font-weight: 700;
	}

	&__header-user {
		font-size: vc(20);
		font-weight: 400;
	}

	&__content {
		display: grid;
		grid-template-columns: 25% 75%;
		box-shadow: 0px 0px 10px 0px #0000001A;
		flex: 1 1 auto;
	}

	&__content-empty {
		font-size: vc(14);
		font-weight: 400;
		line-height: 1.4;
		color: $color-text-secondary;
		display: flex;
		align-items: center;
		justify-content: center;
		border-left: 1px solid $color-border;
	}
}
