@use 'mixins' as *;
@use 'variables' as *;

:root {
	--width-base: 360;
	--width-current: 100vmin;
	--width-multiplier: var(--width-current) / var(--width-base);

	@include desktop {
		--width-base: 1440;
		--width-current: 100vw;
	}

	@include desktop-aspect {
		--width-base: 840;
		--width-current: 100vh;
	}

	// @include desktop-xl {
	// 	--width-base: 1440;
	// 	--width-current: 1440px;
	// }
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

*::selection {
	color: $color-white;
	background-color: $color-background;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
	width: 100%;
}

body {
	position: relative;
	z-index: 1;
	font-family: $font-montserrat;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	background-color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

a,
button {
	outline: none;
	text-decoration: none;
	color: currentColor;
	cursor: pointer;
}

menu {
	margin: 0;
	padding: 0;
}

input,
select,
button,
textarea {
	display: block;
	appearance: none;
	border: 0;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
	background: none;
}

img {
	display: block;
	width: 100%;
	object-fit: cover;
}

svg {
	width: 100%;
	height: 100%;
}

.select2-selection:focus,
.select2-selection:visited,
.select2-selection:active,
.select2-selection:hover,
a:focus,
a:visited,
a:active,
a:hover,
textarea:focus,
textarea:visited,
textarea:active,
textarea:hover,
input:focus,
input:visited,
input:active,
input:hover,
select:focus,
select:visited,
select:active,
select:hover,
button:focus,
button:visited,
button:active,
button:hover {
	outline: 0;
	outline-style: none;
}

#app {
	overflow: hidden;
	max-width: 1920px;
	margin: 0 auto;
}
