@function vc($value) {
	@return calc(#{$value} * var(--width-multiplier));
}

@function px($value, $base: 1440) {
	@return $value * (1440 * 1px) / $base;
}

@function vw($value, $base: 1440) {
	@return $value / $base * 100vw;
}

@function vh($value, $base: 768) {
	@return $value / $base * 100vh;
}

@function vt($value, $base: 768) {
	@return $value / $base * 100vmin;
}

@function vm($value, $base: 375) {
	@return $value / $base * 100vmin;
}
